button {
  color: black !important;
}
.create_Group_btn {
  padding: 6px 45px !important;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  color: white !important;
  outline: none;
  background-color: #1fb0f7;
}

header button {
  background: rgb(116, 165, 183);
  width: 100px;
  outline: none;
  color: white !important;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 4px 0px;
}

.chat_Details {
  box-shadow: 0 4px 7px -6px rgb(233, 233, 233);
  margin-top: 1.1999999999999993rem;
  justify-content: space-between;
  border-radius: 1px;
  margin: 0 0.2rem;
  background: none;
  display: flex;
  padding: 0.5em;
}

.chat_Details:hover {
  background: #f6f6f6;
}

.topChatContainer {
  margin-top: 4.89rem;
}

.nameUsersContainer {
  margin: 0 0.4rem;
}

.imageContainerUser {
  width: 42px;
}

.imgContainer {
  display: flex;
  margin: 0 0.5rem;
  margin-right: 1rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.imgContainers {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
}
.containerHeaderImage {
  width: 42px;
}

.containerHeaderImage img {
  width: 100%;
}
.nameContainer {
  margin: 0 0.8rem;
}
.nameC {
  margin: 0.3rem 0.5rem;
}
.nameC h5 {
  font-size: 11px;
}

.time {
  margin-top: 0.3rem;
}

.nameC h6 {
  margin-top: 0.5rem;
  font-size: 0.7rem;
}

.imgContainers img {
  margin-right: 1rem;
  width: 100%;
  border-radius: 50%;
}
.imgContainer img {
  margin-right: 1rem;
  border-radius: 50%;
}

.imgContainer h3 {
  font-size: 14px;
}
.imgContainer h6 {
  font-size: 9px;
}
.imgContainers h3 {
  font-size: 15px;
}
.imgContainers h6 {
  font-size: 9px;
}

/* Container LEFT CSS END */

/* Container Right CSS Start */

.main_Header_Container {
  display: flex;
  justify-content: space-between;
  padding: 0.1rem;
}

.container_Calls_Icons {
  display: flex;
  align-items: center;
}

.container_Calls_Icons img {
  margin: 0 1rem;
  width: 25px;
  cursor: pointer;
}

.name h5 {
  font-size: 1.1rem;
  color: black !important;
}
.messages_Container {
  margin-top: 0.7rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
}
.messages_Container span {
  margin-top: 1rem;
  font-size: 11px;
}

.receive_message_box {
  border-radius: 10px;
  margin-top: 1rem;
  margin-left: 0.3rem;
  min-width: 15vw;
  max-width: 20vw;
  font-family: sans-serif;
  background-color: rgb(217, 217, 217);
  border: 1px solid rgb(71 147 222);
  box-shadow: 1px 1px 2px rgb(71 147 222);
  padding: 0.7em;
  font-size: 13px;
  white-space: pre-wrap !important;
}

#receiveMessage {
  overflow-x: hidden !important;
  letter-spacing: 1px;
  word-break: break-word;
}

.sendUserImage {
  border-radius: 10px;
  margin-top: 1rem;
  margin-left: 0.3rem;
  box-shadow: 1px 2px 2px rgb(148 147 147 / 54%);
  width: 30%;
}

.send_Message_Input {
  display: flex;
  overflow: hidden;

  border-top: 1px solid rgb(216, 216, 216);
  justify-content: space-evenly;
  /* height: 12vh */
  height: 55px;
  min-width: inherit;
  max-width: inherit;
  display: flex;
  align-items: center;
}

.user_Joined {
  border: none;
  margin: 1rem 0;
  outline: none;
  font-family: sans-serif;
  padding: 0.4rem;
  color: #bf7a83;
  font-size: 12px;
  box-shadow: 0px 0px 2px #d0d0d0;
  text-align: center;
}
.NewUser {
  margin: 0 0;
  box-shadow: 0px 0px 2px #b89112;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 30vw;
  padding: 0.6em;
  font-size: 11px;
}

.time {
  font-size: 9px;
  float: right;
}

.date {
  font-size: 9px !important;
}

.send_Message_Input #comment {
  overflow: hidden;
  padding: 0 1rem;
  max-width: 60vw;
  font-size: 11px;
  resize: none;
  width: 50vw;
  outline: none;
  padding-top: 0.3rem;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(202, 201, 201);
}

.attachments_emojis {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 0.7rem;
}
.attachments_emojis span {
  margin: 0 0.7rem;
  font-size: 15px;
}
.sendIcon {
  margin: 0 1rem;
  font-size: 15px;
}
.emojiContainer {
  position: absolute;
  margin-bottom: 34rem;
}
/* Container right CSS END */

/* Form Validator start */
#warnings {
  color: rgb(232, 243, 23);
  font-size: 11px;
  /* padding: 0.4rem; */
}

.success {
  margin: 1rem 0;
  color: rgb(68, 246, 169) !important;
  font-size: 0.8rem;
}

#warnings span {
  font-size: 0.9rem;
  color: yellow;
  padding-right: 0.3rem;
}

.warning_Input {
  border: 1px solid rgb(210 211 73);
}

/* Form Validator start */

/* checking chat app actual */

.messages {
  display: flex;
  margin: 2rem;
}
#single {
  margin: 12rem 39rem;
}

#message {
  color: black !important;
  margin: 30rem 4rem;
}

@media only screen and (max-width: 1200px) {
  .viewImage {
    height: calc(83vh - 115px) !important;
    width: 58vw !important;
    left: 39% !important;
  }
  .viewImage img {
    height: calc(72vh - 115px) !important;
    width: 80% !important;
  }

  /* .viewImage img {
    height: calc(72vh - 115px) !important;
    width: 80% !important;
  } */

  .viewImageContainer img {
    width: 82% !important;
  }
}
@media only screen and (max-width: 922px) {
  .viewImage {
    height: calc(83vh - 115px) !important;
    width: 58vw !important;
    left: 39% !important;
  }

  .left_side_User {
    width: 33.8vw !important;
  }

  .right_side {
    width: 66vw !important;
  }
}
@media only screen and (max-width: 820px) {
  .left_side_User {
    width: 33.8vw !important;
  }

  .right_side {
    width: 66vw !important;
  }

  .receive_message_box {
    font-size: 11px;
  }

  .create_Group {
    font-size: 15px;
  }
  .imgContainer h3 {
    font-size: 13px;
  }

  .containerHeaderImage,
  .imageContainerUser {
    width: 39px;
  }
}

@media only screen and (max-width: 778px) {
  .viewImage img {
    width: 100% !important;
  }

  .viewImageContainer img {
    width: 82% !important;
  }
  .viewImage {
    left: 39.7% !important;
  }
  .left_side_User {
    width: 37vw !important;
  }

  .right_side {
    width: 63vw !important;
  }

  .receive_message_box {
    min-width: 18vw !important;
    max-width: 25vw !important;
  }
}

@media only screen and (max-width: 650px) {
  .viewImage {
    /* height: calc(83vh - 115px) !important; */
    width: 52vw !important;
    left: 44.7% !important;
  }
  .left_side_User {
    width: 42vw !important;
  }

  .right_side {
    width: 58vw !important;
  }

  .NewUser {
    width: 39vw;
  }

  .attachments_emojis span {
    font-size: 13px;
  }
}

@media only screen and (max-width: 580px) {
  .viewImage {
    width: 93vw !important;
    left: 2.7% !important;
  }
  .create_Group {
    width: auto !important;
    font-size: 15px;
  }
  .left_side_User {
    width: 100vw !important;
  }

  .right_side {
    display: none;
  }

  #showRightSideMobileUser {
    display: block;
    width: 100vw !important;
  }

  .leftSideMobileUser {
    display: none !important;
  }

  .leftSide .showLeftSideMobile {
    width: 100vw;
  }

  input[type="checkbox"] + label .icon-bar {
    display: none !important;
  }

  .imageContainerUser {
    width: 47px;
  }

  .nameC h5 {
    font-size: 12px;
  }

  .time {
    font-size: 10px;
  }

  .chat_Details {
    padding: 0.8em;
  }

  .imgContainer h3 {
    font-size: 12px;
  }

  .receive_message_box {
    min-width: 40vw !important;
    max-width: 45vw !important;
    padding: 1.3em;
  }
  .sendUserImage {
    width: 45%;
  }
  .NewUser {
    width: 58vw;
  }
  .main {
    background-position: center;
  }
  .attachments_emojis span {
    font-size: 15px;
  }
  .send_Message_Input #comment {
    max-width: 80vw !important;
    width: 77vw !important;
  }
  .messages_Container {
    margin-left: 4rem;
  }

  .right_side header {
    padding: 1rem 1rem !important;
  }
}

@media only screen and (max-width: 412px) {
  .viewImageContainer img {
    width: 100% !important;
  }
  .messages_Container {
    margin-left: 2rem;
  }
  .receive_message_box {
    font-size: 12px;
  }
  .messages_Container span,
  .messages_Container small {
    font-size: 9px !important;
  }
}
/* 
@media only screen and (max-width: 1190px) and (max-height: 2000px) {


  .right_side main {
    overflow-y: auto !important;
    height: calc(90vh - 115px) !important;
  } */

@media only screen and (max-width: 1190px) and (max-height: 2000px) {
  /*.main {
     height: calc(103vh - 115px) !important; 
  }*/

  .right_side main {
    overflow-y: auto !important;
    height: calc(89vh - 115px) !important;
  }
}

@media only screen and (max-width: 580px) and (max-height: 1600px) {
  /* .main {
    height: calc(107vh - 115px) !important;
  } */

  .receive_message_box {
    font-size: 12px !important;
  }

  .right_side main {
    overflow-y: auto !important;
    height: calc(90.2vh - 115px) !important;
  }
}

@media only screen and (max-width: 580px) and (max-height: 600px) {
  .main {
    height: 100vh !important;
  }

  .right_side main {
    height: calc(99.2vh - 115px) !important;
  }
}
