@-webkit-keyframes ldio-gx83bggqrjr {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ldio-gx83bggqrjr {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading_Container {
  display: flex;
  background: none;
  border-radius: 9px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 28%;
  text-align: center;
  position: fixed;
  top: 35%;
  left: 35%;
  z-index: 1;
}

.loading_Container h5 {
  color: #187fb6;
  font-size: 11px;
}
.ldio-gx83bggqrjr div {
  position: absolute;
  -webkit-animation: ldio-gx83bggqrjr 1s linear infinite;
  animation: ldio-gx83bggqrjr 1s linear infinite;
  width: 115px;
  height: 115px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #2287bd;
  transform-origin: 66px 68px;
}
.loadingio-spinner-eclipse-yy8pyw9te4g {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}
.ldio-gx83bggqrjr {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-gx83bggqrjr div {
  box-sizing: content-box;
}
